<section>

  <h2 id="story">Our Story</h2>

  <div class="story-area">

    <div class="story-img"></div>

    <div class="story-words">

      <p><strong>This couple?</strong> A story of love, a story of faith,<br />
      and a story that merely writes itself.<br />
      Dan and Tracey both had similar paths in life,<br />
      that in the end,<br />
      lead them to the same place.<br />
      Wanting to give love one more chance,<br />
      Dan and Tracey both looked to God for their answers,<br />
      which is when the story of the rest of their lives began.<br />
      Many of you know the theme of their wedding,<br />
      Batman.<br />
      Many of you ask, why?<br />
      Tracey is a girly girl, who loves pink, yet, no pink at this wedding?<br />
      Batman?<br />
      Wedding day, you will hear the phenomenon behind this,<br />
      and the reason she is marrying a real superhero,<br />
      her superhero,<br />
      Dan.<br />
      </p>
    </div>


  </div>


</section>