<section class="wedding-info">

  <h2 id="details">Wedding Information</h2>

  <div id="party-view"class="party-select-container">

    <div class="kids-wrap">
      <div class="kids-container">
        <div class="kids-back">{% include icons/icon-back.xml %}</div>
      </div> 
    </div>


    <div class="details-wrap">
      <div id="details-cont"class="details-container">
        <div class="location-area">

          <div class="cerimony">
            <h3 class="cer-head">Cerimony</h3>

            <p><h5>Holy Rosary Catholic Church</h5> 12021 Mayfield Rd.<br>
            Cleveland, Ohio 44106</p>

            <p><h5 class="time-h">Time: </h5>2:00 PM</p>

          </div>

          <div class="reception">
            <h3 class="rec-head">Reception</h3>

            <p><h5>StillWater Place at The Cleveland Metroparks Zoo</h5>3900 Wildlife Way<br>
            Cleveland, Ohio 44109</p>

            <p><h5 class="time-h">Time: </h5>5:30 PM</p>
            <p><small><em>Guests will be shuttled from the parking lot to the reception hall</em></small></p>
          </div>
        </div>
        <div class="wedding-party">
          <h3>Wedding Party</h3>

          <div class="ringflower-wrap">
            <div class="bearer"><h5>Ring Bearers</h5>
              <a href="#party-view" onclick="return false" class="kids-party-unit" id="kids-party-unit1">Gunner Crum</a><br>
              <a href="#details-cont" onclick="return false" class="kids-party-unit" id="kids-party-unit2">Anthony Gilliam</a>
            </div>

            <div class="flower"><h5>Flower Girls</h5>
              <a href="#details" onclick="return false" class="kids-party-unit" id="kids-party-unit3">Sawyer Crum</a><br>
              <a href="" onclick="return false" class="kids-party-unit" id="kids-party-unit4">Ava Gilliam</a>
            </div>
          </div>

          <div class="wedding-party-wrap">
            <div class="grooms"><h5>Groomsmen</h5>
              <a href="" onclick="return false" class="party-unit" id="groomsmen1">Tom Brice - Best Man</a><br>
              <a href=""onclick="return false" class="party-unit" id="groomsmen2">Cassey Brown</a><br>
              <a href="" onclick="return false" class="party-unit" id="groomsmen3">Kenny Crum</a><br>
              <a href="" onclick="return false" class="party-unit" id="groomsmen4">Stephan Gilliam</a><br>
              <a href="" onclick="return false" class="party-unit" id="groomsmen5">Tony Karn</a><br>
              <a href="" onclick="return false" class="party-unit" id="groomsmen6">Justin Granlund</a><br>
              <a href="" onclick="return false" class="party-unit" id="groomsmen7">Corey Savage</a>
            </div>

            <div class="brides"><h5>Braidsmaids</h5>
              <a href="" onclick="return false" class="party-unit" id="bridesmaid1">Kristina Gilliam - Matron of Honor</a><br>
              <a href="" onclick="return false" class="party-unit" id="bridesmaid2">Nicole Luke</a><br>
              <a href="" onclick="return false" class="party-unit" id="bridesmaid3">Lauren Onda</a><br>
              <a href="" onclick="return false" class="party-unit" id="bridesmaid4">Kayla Campola</a><br>
              <a href="" onclick="return false" class="party-unit" id="bridesmaid5">Kerri Preztak</a><br>
              <a href="" onclick="return false" class="party-unit" id="bridesmaid6">Megan Crum</a><br>
              <a href="" onclick="return false" class="party-unit" id="bridesmaid7">Julia Savage</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="party-wrap">
      <div class="party-container">
        <div class="party-back">{% include icons/icon-back.xml %}</div> 
        <div class="party-load"></div>  
      </div> 
    </div>


  </div>

</section>
