<section class="photos-sec">
  <h3 id="photos">Photos</h3>

  <div class="img-select-container">

    <div class="thumb-wrap">
      <div class="thumb-container">
        {% for i in (1..16) %}
        <a href="" onclick="return false" class="thumb-unit" id="thumb-unit{{ i }}">
          <div class="thumb-overlay"></div>
        </a>
      {% endfor %}
      </div>
    </div> 

    <div class="img-wrap">
      <div class="img-container">
        <div class="img-back">{% include icons/icon-back.xml %}</div>      
      </div>
    </div>

  </div>


</section>

