footer
  margin-top: 20px
  background-image: url("../img/Tracey(footer).jpg")
  background-size: cover
  padding: 150px

  .content-wrap
    max-width: 50%
    margin: auto

    @media screen and (max-width: 900)
      max-width: 100% 

    nav
      text-align: center
      margin: 0 auto
      +display(flex)
      justify-content: space-around
      
      a
        float: left

        color: rgba(199, 131, 154, 0.9)
        font:
          size: 14px
          weight: 700

